---
const pageTitle = "About me";

const identity = {
  firstName: "foo",
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "Typescript",
  "Next",
  "React",
  "Astro",
];

const myNumber = 10;
const myBoolean = true;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
      </ul>
    </nav>
    <h1>About me</h1>

    <p>Hello, I am {identity.firstName}</p>
    <section>
      <h2>Skills</h2>
      <ul>
        {skills.map((skill) => <li>{skill}</li>)}
      </ul>
    </section>
    {myBoolean && <p>This was conditional rendered</p>}
    <p>
      The number: {myNumber + 1} was evaluated as an
      expression
    </p>
  </body>
</html>
