---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navigation from "../components/Navigation.astro";
const animals = ["Capybara", "Cow", "Ant"];
import "../styles/global.css";
---

<BaseLayout pageTitle="Home">
  <Navigation />
  <h1 class="font-bold">My astro site</h1>
  <span>Color setted from frontmatter</span>
  <section>
    <h2 class="heading__h2">Random animals</h2>
    <ul>
      {
        animals.map((animal) => (
          <li data-animal={animal}>{animal}</li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
