---
import Button from "./Button";
const { tier, price, description } = Astro.props;
---

<article
  class="border shadow-gray-300 rounded-sm w-fit text-center py-2"
>
  <div class="px-2 grid gap-2">
    <h2 class="text-lg font-medium">{tier}</h2>
    <p class="">{price}</p>
    <Button client:idle tier={tier} />
    <p>{description}</p>
  </div>
</article>
