<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <ul>
      <li>
        <a href="/posts/p-1">Blog 1</a>
      </li>
      <li>
        <a href="/posts/p-2">Blog 2</a>
      </li>
    </ul>
  </ul>
</nav>
