<nav class="bg-slate-200 p-2">
  <ul
    class="container mx-aut.o border flex flex-column align-center justify-center gap-2"
  >
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/blog
      ">Blog</a>
    </li>
  </ul>
</nav>
